
header {
    background-color: rgb(48, 20, 86);

}
body {
    background-color: rgb(48, 20, 86);
}
h1 {
    color: white;
}
p {
    color: white;
}
img {
    object-position: left;
    width: 250px;
}